.contact-cta {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: $color-white;
  color: black;
  margin: 0 auto -5rem;
  padding: 5rem 10rem;
  z-index: 1;

  .btn {
    font-size: 2rem;
  }
}
