.contact {
  padding: 20px;
  background-color: #242323;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  margin: 20px auto;
  max-width: 80%;

  h2,
  h3,
  p,
  a,
  span,
  strong {
    color: $color-white;
  }

  h2 {
    color: $color-white;
    text-align: center;
    margin: 0 auto;
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    text-align: center;
    

    p > strong {
      display: inline;
    }

    .contact-questions {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .ourInfo,
    .formContainer {
      flex: 1;
      padding: 20px;
      color: $color-white;

      h3 {
        text-decoration: underline;
      }

      p {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }

    .ourInfo {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    .formContainer {
      form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid $color-grey-light;
          border-radius: $border-radius-default;
          font-size: 1.5rem;
          background-color: $color-white;
          color: $color-black;

          &:focus {
            outline: none;
            border-color: $color-primary;
          }
        }

        textarea {
          height: 100px;
          resize: none;
        }

        button {
          padding: 10px 20px;
          border: none;
          border-radius: $border-radius-default;
          background-color: $color-primary;
          color: $color-white;
          font-size: 1.8rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $color-primary-dark;
          }
        }
      }
    }
  }
}
