.galleryContainer {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 75vh;
  overflow: hidden;
  display: flex;
  align-items: center;

  .activeText {
    position: absolute;
    top: 50%;
    left: 2%;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 2rem 5rem;
    height: fit-content;
    width: 80rem;
    border-radius: 0.5rem;
    transform: translateY(-50%);
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.active {
      opacity: 1;
      z-index: 10;
    }

    h2 {
      font-size: 4rem;
      margin: 0;
      margin-bottom: 1rem;
      text-align: left;
      color: white;
    }

    p {
      font-size: 2rem;
      text-align: center;
      color: white;
    }

    .learnMoreButton {
      margin: 0 auto;
      margin-top: 3rem;
      padding: 0.5rem 1.5rem;
      background-color: $color-white;
      color: $color-grey-dark;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }

      text-decoration: none;
    }
  }

  .thumbnails {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .thumbnail {
      position: absolute;

      height: 30rem;
      width: 20rem;
      border-radius: 0.5rem;
      overflow: hidden;
      border-radius: 0.5rem;
      transition: all 0.5s ease-in-out;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .thumbnailTitle {
        position: absolute;
        bottom: -15rem;
        padding: 0.5rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        p {
          color: white;
          max-width: 19rem;
          font-size: 2rem;
        }
      }

      &.index1 {
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        border-radius: 0%;
      }

      &.index2 {
        right: -50%;
        bottom: 5%;
        z-index: 0;
        display: none;
      }

      &.index3 {
        right: -20%;
        bottom: 5%;
        z-index: 0;

        .thumbnailTitle {
          bottom: 0;
          opacity: 1;
        }
      }

      &.index4 {
        right: 5rem;
        bottom: 5%;
        z-index: 3;

        .thumbnailTitle {
          bottom: 0;
          opacity: 1;
        }
      }

      &.index5 {
        right: 30rem;
        bottom: 5%;
        z-index: 2;

        .thumbnailTitle {
          bottom: 0;
          opacity: 1;
        }
      }
    }

    .index0 {
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100vw;
      z-index: -1;
      border-radius: 0%;
    }
  }

  .navigation {
    @include center;

    bottom: 1rem;
    width: auto;
    padding: 0.5rem 0.25rem 0.5rem 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);

    .dots {
      display: flex;
      gap: 1rem;

      .dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        opacity: 0.5;
        transition: opacity 0.3s ease;

        &.active {
          opacity: 1;
        }
      }
    }

    .arrow {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      cursor: pointer;
      user-select: none;
    }
  }
}
