.main {

  .map-and-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 5rem auto 0;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }

    .googlemap {
      height: 40rem;
      width: 50%;
      margin: 7rem 0;

      @include respond(tab-port) {
        width: 100%;
        text-align: center;
      }
    }

    .reviews {
      display: flex;
      flex-direction: column;
      width: 45%;

      @include respond(tab-port) {
        width: 100%;
        text-align: center;
      }

      .visit-us {
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}