/*
0 - 600px: Phone
600 - 900px:  Tablet - Portrait
900 - 1200px:  Tablet - Landscape
1200 - 1800px:  Desktop (normal styles)
1800px+:  Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1rem = 16px

ORDER: base + typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline;
  background-color: #383838;
}

h1,
h2,
h3,
h4,
p,
strong,
span,
div {
  display: block;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a.btn {
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: #1e489d;
  color: #fff;
  font-weight: 700;
  border: 0.2rem solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
a.btn:hover {
  border: 0.2rem solid #1e489d;
  color: #1e489d;
  background-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5), 0 3px 4px 2px rgba(60, 64, 67, 0.2);
}
a.btn-light:hover {
  background-color: #fff;
}

button {
  background-color: #1e489d;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.2s ease;
}
button:hover {
  color: #383838;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5), 0 3px 4px 2px rgba(60, 64, 67, 0.2);
}

textarea {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
  html {
    color-scheme: dark;
  }
}
body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;
}
body h1 {
  font-size: 4rem;
}
body h2 {
  font-size: 3rem;
}
body h3 {
  font-size: 2rem;
}
body h4,
body strong {
  font-size: 1.5rem;
  font-weight: 700;
}
body p,
body a,
body div,
body span {
  font-size: 1.5rem;
}
body p.cta {
  font-size: 2rem;
}
body a.link-large {
  font-size: 2rem;
  text-decoration: underline;
}
body button,
body input {
  font-family: "Varela Round", sans-serif;
}

.accordion-szhsin .szh-accordion {
  border-bottom: 0.2rem solid #1e489d;
  width: 80%;
  margin: 0 auto;
}
.accordion-szhsin .szh-accordion__item {
  border-top: 0.2rem solid #1e489d;
}
.accordion-szhsin .szh-accordion__item-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: none;
}
.accordion-szhsin .szh-accordion__item-btn .btn-header {
  margin-left: 3rem;
  display: flex;
  gap: 4rem;
  align-items: center;
}
.accordion-szhsin .szh-accordion__item-btn .btn-header img {
  filter: invert(1);
}
.accordion-szhsin .szh-accordion__item-btn .btn-header strong {
  font-size: 3rem;
}
.accordion-szhsin .szh-accordion__item-btn .chevron-down {
  filter: invert(1);
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}
.accordion-szhsin .szh-accordion__item-btn:hover {
  background-color: #f3f3f3;
  color: #1e489d;
}
.accordion-szhsin .szh-accordion__item-btn:hover img {
  filter: invert(0);
}
.accordion-szhsin .szh-accordion__item-content {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}
.accordion-szhsin .szh-accordion__item-content .btn-details ul {
  margin-left: 2rem;
}
.accordion-szhsin .szh-accordion__item-content .btn-details strong {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.accordion-szhsin .szh-accordion__item-panel {
  padding: 1rem;
}
.accordion-szhsin .szh-accordion__item--expanded .szh-accordion__item-btn {
  background-color: #e7e7e7;
  color: #1e489d;
}
.accordion-szhsin .szh-accordion__item--expanded .szh-accordion__item-btn .btn-header img {
  filter: invert(0);
}
.accordion-szhsin .szh-accordion__item--expanded .szh-accordion__item-btn .chevron-down {
  transform: rotate(180deg);
  filter: invert(0);
}
.accordion-szhsin .szh-accordion__item--expanded .szh-accordion__item-btn:hover {
  color: #788cb6;
}

.bannerlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerlist ul {
  width: min(100%, 60rem);
  overflow: hidden;
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 4rem);
  list-style: none;
  perspective: 1000px;
  display: grid;
  row-gap: 0.5rem;
}
.bannerlist ul li.card {
  position: relative;
  background-color: #1e489d;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
  transform-style: preserve-3d;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.bannerlist ul li.card::before, .bannerlist ul li.card::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: calc(50% - 50% * var(--ry)) 50%;
  transform: rotateY(calc(60deg * var(--ry)));
  background-color: inherit;
  background-image: linear-gradient(calc(90deg * var(--ry)), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
}
.bannerlist ul li.card::before {
  --ry: -1;
  right: 100%;
}
.bannerlist ul li.card::after {
  --ry: 1;
  left: 100%;
}
.bannerlist ul li.card .icon img {
  filter: invert(1);
}
.bannerlist ul li.card .info {
  text-align: left;
}
.bannerlist ul li.card .info .title {
  font-weight: 700;
}

@media (min-width: 30rem) {
  ul li.card {
    text-align: left;
  }
}
.contact-cta {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: #fff;
  color: black;
  margin: 0 auto -5rem;
  padding: 5rem 10rem;
  z-index: 1;
}
.contact-cta .btn {
  font-size: 2rem;
}

.contact {
  padding: 20px;
  background-color: #242323;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  margin: 20px auto;
  max-width: 80%;
}
.contact h2 {
  text-align: center;
  margin: 0 auto;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  text-align: center;
}
.contact-details p > strong {
  display: inline;
}
.contact-details .contact-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact .contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .contact .contactContainer {
    flex-direction: column;
    align-items: center;
  }
}
.contact .contactContainer .ourInfo,
.contact .contactContainer .formContainer {
  flex: 1;
  padding: 20px;
}
.contact .contactContainer .ourInfo h3,
.contact .contactContainer .formContainer h3 {
  text-decoration: underline;
}
.contact .contactContainer .ourInfo p,
.contact .contactContainer .formContainer p {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .contact .contactContainer .ourInfo,
  .contact .contactContainer .formContainer {
    width: 100%;
    text-align: center;
  }
}
.contact .contactContainer .ourInfo {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.contact .contactContainer .formContainer form {
  display: flex;
  flex-direction: column;
}
.contact .contactContainer .formContainer form input,
.contact .contactContainer .formContainer form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 10px;
  font-size: 1.5rem;
}
.contact .contactContainer .formContainer form input:focus,
.contact .contactContainer .formContainer form textarea:focus {
  outline: none;
  border-color: #1e489d;
}
.contact .contactContainer .formContainer form textarea {
  height: 100px;
  resize: none;
}
.contact .contactContainer .formContainer form button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #1e489d;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact .contactContainer .formContainer form button:hover {
  background-color: #0e2249;
}

.dop h2 {
  margin-left: 15%;
  margin-bottom: 2rem;
}
.dop .directory {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}
.dop .directory .person {
  height: 26.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.dop .directory .person .image-wrapper {
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.dop .directory .person .image-wrapper img {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.dop .directory .person .info {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  text-align: center;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #788cb6;
  transition: all 0.2s ease-in-out;
}
.dop .directory .person.round .image-wrapper {
  border-radius: 50%;
}
.dop .directory .person.round .info {
  position: absolute;
  top: 65%;
  right: 3%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  offset-path: path("M 0,0 A 100,100 0 0 0 20,-160");
  offset-rotate: 0deg;
  offset-distance: 0;
}
.dop .directory .person.round:hover img {
  filter: blur(1px) grayscale(50%);
}
.dop .directory .person.round:hover .info {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  line-height: 1.3em;
  offset-distance: 50%;
}
.dop .directory .person.square {
  align-items: flex-start;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.dop .directory .person.square .details {
  position: absolute;
  bottom: 0;
}
.dop .directory .person.square .details .name-and-title {
  padding-bottom: 0.5rem;
}
.dop .directory .person.square:hover .image-wrapper {
  height: 26.5rem;
}
.dop .directory .person.square:hover .image-wrapper img {
  filter: blur(1px) grayscale(50%);
}
.dop .directory .person.square:hover .details {
  padding-left: 0.5rem;
  color: #000;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.8);
}
.dop .directory .person.square:hover .info {
  right: 0.5rem;
}
.dop .directory .person.square .image-wrapper {
  margin-bottom: 0;
  transition: all 0.2s ease-in-out;
}
.dop .directory .person.square .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.dop .directory .modal {
  position: fixed;
  top: 0;
  right: -100rem;
  height: 100vh;
  width: 50%;
  display: flex;
  gap: 5rem;
  align-items: center;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 6rem;
}
.dop .directory .modal.active {
  top: 0;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.dop .directory .modal .modal-content {
  margin: 0 auto;
  width: 80%;
  display: block;
  height: 100%;
}
.dop .directory .modal .modal-content .person {
  display: flex;
  align-items: flex-start;
  cursor: default;
  color: #000;
  float: left;
  margin: 0 3rem 0 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.dop .directory .modal .modal-content .person img {
  width: 100%;
  max-width: 21.2rem;
  border-radius: 0.5rem;
}
.dop .directory .modal .modal-content .person .name-and-title {
  font-weight: 700;
}
.dop .directory .modal .modal-content .bio {
  color: #000;
}
.dop .directory .modal #close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 3.5rem;
  height: 3rem;
  opacity: 0.3;
  cursor: pointer;
}
.dop .directory .modal #close:hover {
  opacity: 1;
}
.dop .directory .modal #close:before, .dop .directory .modal #close:after {
  position: absolute;
  left: 1.5rem;
  content: " ";
  height: 4rem;
  width: 0.4rem;
  background-color: #1e489d;
}
.dop .directory .modal #close:before {
  transform: rotate(45deg);
}
.dop .directory .modal #close:after {
  transform: rotate(-45deg);
}

.galleryContainer {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
.galleryContainer .thumbnails {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.galleryContainer .thumbnails .thumbnail {
  position: absolute;
  height: 30rem;
  width: 20rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.galleryContainer .thumbnails .thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.galleryContainer .thumbnails .thumbnail.index1 {
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  border-radius: 0%;
}
.galleryContainer .thumbnails .thumbnail.index2 {
  right: -50%;
  bottom: 5%;
  z-index: 0;
  display: none;
}
.galleryContainer .thumbnails .thumbnail.index3 {
  right: -20%;
  bottom: 5%;
  z-index: 0;
}
.galleryContainer .thumbnails .thumbnail.index4 {
  right: 5rem;
  bottom: 5%;
  z-index: 3;
}
.galleryContainer .thumbnails .thumbnail.index5 {
  right: 30rem;
  bottom: 5%;
  z-index: 2;
}
.galleryContainer .thumbnails .index0 {
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  border-radius: 0%;
}
.galleryContainer .next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  background-color: white;
  padding: 2rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.googlemap {
  height: 50%;
  width: 50%;
}
@media only screen and (max-width: 75em) {
  .googlemap {
    height: 80%;
    width: 80%;
  }
}
.googlemap #map {
  height: 100%;
  width: 100%;
}

.three-column-info {
  display: flex;
  justify-content: space-around;
  background-color: #383838;
  color: #fff;
  padding: 5rem 0;
  width: 100%;
}
.three-column-info.component {
  margin-bottom: 0rem;
}
.three-column-info .address,
.three-column-info .hours,
.three-column-info .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}
.three-column-info .address strong,
.three-column-info .hours strong,
.three-column-info .phone strong {
  text-transform: uppercase;
  font-size: 2rem;
}
.three-column-info .address .content span,
.three-column-info .hours .content span,
.three-column-info .phone .content span {
  display: block;
}
.three-column-info .address img,
.three-column-info .hours img,
.three-column-info .phone img {
  filter: invert(1);
  width: 5rem;
  height: auto;
  margin-bottom: 2rem;
}

.two-column .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 90%;
  margin: 5rem auto;
}
.two-column .content .img-wrapper {
  width: 50%;
}
.two-column .content .img-wrapper img {
  height: auto;
  width: 100%;
}
.two-column .content .text {
  width: 50%;
  padding: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
  background-color: #1e489d;
  width: 100%;
  padding: 1rem 0;
}
@media only screen and (max-width: 37.5em) {
  footer {
    align-items: center;
    flex-direction: row;
  }
}

header {
  display: inline;
  width: 100vw;
}
header .infobar {
  background-color: #1e489d;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  padding: 0 15%;
}
header .topnav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
  background-color: #fff;
  color: #a1a1a1;
  z-index: 100;
}
header .topnav a {
  margin: 1rem;
  box-shadow: none;
  width: 20%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
}
header .topnav a img {
  height: 100%;
  width: 100%;
}
header .topnav .navlinks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  text-align: center;
}
header .topnav .navlinks a {
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
}
header .topnav .navlinks a:hover {
  color: #1e489d;
  font-weight: 400;
}
header .topnav .contact-btn {
  border: 2px solid #1e489d;
  border-radius: 2.5rem;
  padding: 1.2rem;
  text-decoration: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.main .googlemap {
  height: 40rem;
  width: 40%;
  margin: 5rem 0;
}
.main .map-and-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.main .map-and-review .reviews {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.main .contact-details {
  padding: 2rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.main {
  min-height: 100vh;
}

.logo {
  position: relative;
}

.component {
  margin: 5rem auto;
}

.heading {
  margin-top: 5rem;
}
.heading h1,
.heading h2 {
  margin-left: 10rem;
}

.btn {
  margin: 2rem auto;
  width: -moz-fit-content;
  width: fit-content;
}

h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.treatments h1,
.treatments strong {
  width: 80%;
  margin: 0 auto;
}
.treatments h1 {
  margin-top: 6rem;
}
.treatments h2,
.treatments h2 + strong {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}/*# sourceMappingURL=index.css.map */