body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4,
  strong {
    font-size: 1.8rem;
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $color-black;
  }

  p,
  a,
  div,
  span,
  strong {
    font-size: 1.8rem;
    color: $color-black;
  }

  a.btn {
    color: $color-white;
    font-size: 3rem;
  }

  p.cta {
    font-size: 2rem;
  }
  a.link-large {
    font-size: 2rem;
    text-decoration: underline;
  }

  button,
  input {
    font-family: "Varela Round", sans-serif;
    font-size: 2.5rem;
  }
}
